# Scrapping relevant wikipedia pages
This notebook uses beautiful soup to scrape wikipedia pages with tables that might useful or relevant to this study.

How to Scrape Wiki ?

Link 1:https://medium.com/analytics-vidhya/web-scraping-a-wikipedia-table-into-a-dataframe-c52617e1f451

Link 2:https://medium.com/analytics-vidhya/web-scraping-a-wikipedia-table-into-a-dataframe-c52617e1f451

In [6]:
# All data will be stored in the following directory
wikisites_data = "../../Data/wiki_sites/"

[Beautiful Soup Tutorial](https://realpython.com/beautiful-soup-web-scraper-python/)

## Broglio Space Center (Wikipedia)
link: https://en.wikipedia.org/wiki/Broglio_Space_Center

In [7]:
import requests
import pandas as pd
website_url = requests.get("https://en.wikipedia.org/wiki/Broglio_Space_Center").text

In [10]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(website_url,"lxml")
My_table = soup.find("table",{"class":"wikitable"})
print(len(My_table))

2

In [19]:
df=pd.read_html(str(My_table))
# convert list to dataframe
df=pd.DataFrame(df[0])
df.head()

,Launch Date,Vehicle,Payload,COSPAR ID,Comments
0,26 April 1967,Scout B,San Marco-2,1967-038A,San Marco 1 had previously been launched from ...
1,12 December 1970,Scout B,Uhuru (SAS-A),1970-107A,NaN
2,24 April 1971,Scout B,San Marco-3,1971-036A,NaN
3,15 November 1971,Scout B,Small Scientific Satellite-A,1971-096A,NaN
4,15 November 1972,Scout D-1,SAS-B,1972-091A,NaN

## Timeline of artificial satellites and space probes

In [5]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

artificialsats_spaceprobes_url = requests.get("https://en.wikipedia.org/wiki/Timeline_of_artificial_satellites_and_space_probes").text

soup = BeautifulSoup(artificialsats_spaceprobes_url,"lxml")
my_tables = soup.find_all("table",{"class":"wikitable"})
print(len(my_tables))

8

In [2]:
satellites_probes_1950_df = pd.DataFrame(pd.read_html(str(my_tables[0]))[0])
print(satellites_probes_1950_df.columns)

satellites_probes_1960_df = pd.DataFrame(pd.read_html(str(my_tables[1]))[0])
print(satellites_probes_1960_df.columns)

Index(['Year', 'Date', 'Origin', 'Name', 'Launch vehicle', 'Status',
       'Description', 'Mass'],
      dtype='object')
Index(['Year', 'Launch date', 'Origin', 'Name', 'Launch vehicle', 'Target',
       'Status', 'Description'],
      dtype='object')

In [3]:
columns_list = list(pd.DataFrame(pd.read_html(str(my_tables[2]))[0]).columns)
satellites_probes_df = pd.DataFrame(columns=columns_list)

for table in my_tables[2:]:
    # read the HTML as a string
    html_list = pd.read_html(str(table))

    # convert list to dataframe
    df = pd.DataFrame(html_list[0])
    
    # concactenate original dataframe with tables 
    satellites_probes_df = pd.concat([satellites_probes_df, df], ignore_index=True)

satellites_probes_df.shape

(218, 6)

In [8]:
try:
    os.makedirs(wikisites_data + "satellites_probes")
    satellites_probes_df.to_csv(wikisites_data + 'satellites_probes/satellites_probes.csv', encoding='utf-8')
    satellites_probes_df.to_excel(wikisites_data + 'satellites_probes/satellites_probes.xlsx')
except FileExistsError:
    # directory already exists
    satellites_probes_df.to_csv(wikisites_data + 'satellites_probes/satellites_probes.csv', encoding='utf-8')
    satellites_probes_df.to_excel(wikisites_data + 'satellites_probes/satellites_probes.xlsx')
    pass

In [14]:
pd.read_excel(wikisites_data + 'satellites_probes/satellites_probes.xlsx', index_col=0)

,Year,Origin,Name,Target,Status,Description
0,1970,Japan,Ohsumi,Earth,Success,First Japanese satellite
1,1970,West Germany,DIAL,Earth,Success,Second German satellite. Launch by a French Di...
2,1970,Soviet Union,Venera 7,Venus,Success,First successful landing of a spacecraft on an...
3,1970,Soviet Union,Luna 16,Moon,Success,Lander is the first automated return of sample...
4,1970,Soviet Union,Zond 8,Moon,Success,Flyby
...,...,...,...,...,...,...
213,2020,Turkey,TÜRKSAT 5A,Earth,Success,"TÜRKSAT 5A, Turkey's seventh communication sat..."
214,2020,United States,Mars 2020,Mars,Success,"Perseverance, JPL's new Mars rover. It was lau..."
215,2020,UAE,Hope,Mars,Success,Hope satellite is the United Arab Emirates Spa...
216,2020,China,Tianwen-1,Mars,Success,"Mission containing a orbiter, deployable camer..."
217,2020,China,Chang'e 5,Moon,Success,"Orbiter, Returner, Ascent Stage, Lander config..."

# Rocket Launch Sites Wiki

In [12]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

rocket_launch_sites_url = requests.get("https://en.wikipedia.org/wiki/List_of_rocket_launch_sites#cite_note-88").text

soup = BeautifulSoup(rocket_launch_sites_url,"lxml")
all_launch_sites_tables = soup.find_all("table",{"class":"wikitable"})

In [13]:
len(all_launch_sites_tables)

7

In [13]:
continents_dictionary = {1:"Africa", 2:"Asia", 3:"Europe", 
                         4:"North America", 5:"South America", 6:"Oceania", 
                         7:"Laucnhes at Sea"}

In [22]:
launch_sites_columns_list = list(pd.DataFrame(pd.read_html(str(all_launch_sites_tables[0]))[0]).columns)
launch_sites_df = pd.DataFrame(columns=launch_sites_columns_list)

for table_index, table in enumerate(all_launch_sites_tables):
    # read the HTML as a string
    html_list = pd.read_html(str(table))

    # convert list to dataframe
    df = pd.DataFrame(html_list[0])
    
    #print(df.shape)
    df['Continent'] = continents_dictionary[table_index+1]
    
    # concactenate original dataframe with tables 
    launch_sites_df = pd.concat([launch_sites_df, df], ignore_index=True)

In [29]:
# Noticed that the first value came in incorrectly therefore replaced it before saving to file
launch_sites_df.loc[0,'Coordinates']

'31°05′58″N 2°50′09″W\ufeff / \ufeff31.09951°N 2.83581°W'

In [30]:
launch_sites_df.loc[0,'Coordinates'] = '31°05′58″N 2°50′09″W\ufeff / \ufeff31.09951°N 2.83581°W'

In [31]:
launch_sites_df.loc[0,'Coordinates']

'31°05′58″N 2°50′09″W\ufeff / \ufeff31.09951°N 2.83581°W'

In [32]:
launch_sites_df = launch_sites_df.loc[(launch_sites_df.Coordinates != 'Mobile')]
launch_sites_df = launch_sites_df.dropna(subset=['Coordinates'])
launch_sites_df

,Country,Location,Coordinates,Operational date,Number of rocket launches,Heaviest rocket launched,Highest achieved altitude,Notes,Continent
0,French Algeria,Centre interarmées d'essais d'engins spéciaux ...,31°05′58″N 2°50′09″W﻿ / ﻿31.09951°N 2.83581°W,1947–1967,230.0,18 000 kg,Orbital,Operated by France.[1],Africa
1,Algeria,Reggane,26°43′08″N 0°16′37″E﻿ / ﻿26.71895°N 0.27691°E,1961–1965,10.0,NaN,NaN,NaN,Africa
2,Zaire,"Shaba North, Kapani Tonneo OTRAG Launch Center",7°55′33″S 28°31′40″E﻿ / ﻿7.92587°S 28.52766°E,1977–1978,3.0,NaN,<50 km,German OTRAG rockets.[2],Africa
3,Egypt,Jabal Hamzah ballistic missile test and launch...,30°07′32.7″N 30°36′18.5″E﻿ / ﻿30.125750°N 30.6...,1962–1973,6.0,NaN,NaN,Testing SRBMs Al Zafir and Al Kahir[3][4],Africa
4,Kenya,"Broglio Space Centre (San Marco), Malindi",2°56′27″S 40°12′48″E﻿ / ﻿2.94080°S 40.21340°E,1964–1988,27.0,20 000 kg,Orbital,"Scout rockets, operated by ASI and Sapienza Un...",Africa
...,...,...,...,...,...,...,...,...,...
112,Australia,"Whalers Way Orbital Launch Complex, SA",34°56′02″S 135°39′08″E﻿ / ﻿34.934°S 135.6523°E,2020?–,NaN,NaN,NaN,Proposed,Oceania
114,Marshall Islands,"Reagan Test Site, Omelek Island, Kwajalein Atoll",9°02′53″N 167°44′35″E﻿ / ﻿9.048167°N 167.743083°E,1950s–,NaN,39 000 kg,Orbital,US-controlled ICBM base converted for satellit...,Oceania
115,New Zealand,Birdling's Flat,43°49′01″S 172°40′59″E﻿ / ﻿43.81700°S 172.68300°E,NaN,NaN,NaN,NaN,"Formerly proposed launch site for Rocket Lab, ...",Oceania
116,New Zealand,Mahia,39°15′38″S 177°51′52″E﻿ / ﻿39.26044°S 177.86431°E,2017–,13.0,10 500 kg,Orbital,First commercial spaceport in the southern hem...,Oceania
119,Denmark,MLP Sputnik,55°02′57″N 15°36′11″E﻿ / ﻿55.04917°N 15.60306°E,2010–,4,1 630 kg,8.2 km,Mobile satellite launch platform operated by C...,Laucnhes at Sea

In [35]:
import os
try:
    os.makedirs(wikisites_data + "/launchsites_wiki")
    launch_sites_df.to_csv(wikisites_data + '/launchsites_wiki/launchsites_wiki_raw.csv', encoding='utf-8')
    launch_sites_df.to_excel(wikisites_data + '/launchsites_wiki/launchsites_wiki_raw.xlsx')
except FileExistsError:
    launch_sites_df.to_csv(wikisites_data + '/launchsites_wiki/launchsites_wiki_raw.csv', encoding='utf-8')
    launch_sites_df.to_excel(wikisites_data + '/launchsites_wiki/launchsites_wiki_raw.xlsx')
    pass

In [36]:
import os
os.listdir(wikisites_data + "launchsites_wiki")

['launchsites_transformed.xlsx',
 'launchsites_wiki_raw.csv',
 'launchsites_wiki_raw.xlsx']

# Spaceports Wiki

In [14]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [15]:
spaceport_sites_url = requests.get('https://en.wikipedia.org/wiki/Spaceport').text

soup = BeautifulSoup(spaceport_sites_url,"lxml")
all_spaceport_tables = soup.find_all("table",{"class":"wikitable"})

In [16]:
len(all_spaceport_tables)

3

In [24]:
horizontal_human_launches_df = pd.DataFrame(pd.read_html(str(all_spaceport_tables[0]))[0])
horizontal_human_launches_df

,Spaceport,Carrier aircraft,Spacecraft,Flights above 100 km,Years
0,"Edwards AFB, California, US",B-52,X-15,2 flights (# 90-91),1963
1,"Mojave Air and Space Port, California, US",White Knight,SpaceShipOne,3 flights (# 15P-17P),2004

In [25]:
vertical_human_launches_df = pd.DataFrame(pd.read_html(str(all_spaceport_tables[1]))[0])
vertical_human_launches_df

,Spaceport,Launch complex,Launcher,Spacecraft,Flights,Years
0,"Baikonur Cosmodrome, Kazakhstan (Soviet and Ru...",Site 1,Vostok (r),Vostok 1–6,6 Orbital,1961–1963
1,"Baikonur Cosmodrome, Kazakhstan (Soviet and Ru...",Site 1,Voskhod (r),Voskhod 1–2,2 Orbital,1964–1965
2,"Baikonur Cosmodrome, Kazakhstan (Soviet and Ru...","Site 1, 31","Soyuz, Soyuz-U",Soyuz 1–40 †,37 Orbital,1967–1981
3,"Baikonur Cosmodrome, Kazakhstan (Soviet and Ru...","Site 1, 31","Soyuz-U, Soyuz-U2",Soyuz-T 2–15,14 Orbital,1980–1986
4,"Baikonur Cosmodrome, Kazakhstan (Soviet and Ru...",Site 1,"Soyuz-U, Soyuz-U2",Soyuz-TM 2–34,33 Orbital,1987–2002
5,"Baikonur Cosmodrome, Kazakhstan (Soviet and Ru...",Site 1,Soyuz-FG,Soyuz-TMA 1–22,22 Orbital,2002–2011
6,"Baikonur Cosmodrome, Kazakhstan (Soviet and Ru...","Site 1, 31",Soyuz-FG,Soyuz TMA-M 1–20,20 Orbital,2010–2016
7,"Baikonur Cosmodrome, Kazakhstan (Soviet and Ru...",Site 1,Soyuz-FG,"Soyuz MS 1–9, 11–15",14 Orbital,2016–
8,"Cape Canaveral Space Force Station, Florida, US",LC-5,Redstone,Mercury 3–4,2 Sub-O,1961
9,"Cape Canaveral Space Force Station, Florida, US",LC-14,Atlas,Mercury 6–9,4 Orbital,1962–1963
10,"Cape Canaveral Space Force Station, Florida, US",LC-19,Titan II,Gemini 3–12,10 Orbital,1965–1966
11,"Cape Canaveral Space Force Station, Florida, US",LC-34,Saturn IB,Apollo 7,1 Orbital,1968
12,"Kennedy Space Center, Florida, US",LC-39,Saturn V,Apollo 8–17,10 Lun/Or,1968–1972
13,"Kennedy Space Center, Florida, US",LC-39,Saturn IB,Skylab 2–4,3 Orbital,1973–1974
14,"Kennedy Space Center, Florida, US",LC-39,Saturn IB,Apollo–Soyuz,1 Orbital,1975
15,"Kennedy Space Center, Florida, US",LC-39,Space Shuttle,STS 1-135‡,134 Orbital,1981–2011
16,"Kennedy Space Center, Florida, US",LC-39,Falcon 9,"Crew Dragon Demo-2, Crew-1, 2",3 Orbital,2020–
17,"Jiuquan SLC, China",Area 4,Long March 2F,"Shenzhou 5–7, 9-11",6 Orbital,2003–

In [32]:
spaceport_satellite_launches_df = pd.DataFrame(pd.read_html(str(all_spaceport_tables[2]))[0])
spaceport_satellite_launches_df.columns

Index(['Spaceport', 'Location', 'Years(orbital)',
       'Launchesto orbit or inter-planetary', 'Launch vehicles(operators)',
       'Sources'],
      dtype='object')

In [33]:
spaceport_satellite_launches_df.rename(columns={"Launchesto orbit or inter-planetary": "number of launches"})
spaceport_satellite_launches_df

,Spaceport,Location,Years(orbital),Launchesto orbit or inter-planetary,Launch vehicles(operators),Sources
0,"Baikonur Cosmodrome, Baikonur/Tyuratam, Kazakh...",Kazakhstan,1957–,">1,000","R-7/Soyuz, Kosmos, Proton, Tsyklon, Zenit, Ene...",[citation needed]
1,"Cape Canaveral Space Force Station, Florida, U...",US,1958–,>400,"Delta, Scout, Atlas, Titan, Saturn, Athena, Fa...",[citation needed]
2,"Vandenberg Space Force Base, California, US[13]",US,1959–,>700,"Delta, Scout, Atlas, Titan, Taurus, Athena, Mi...",[14]
3,"Wallops Flight Facility, Virginia, US[15] (see...",US,1961–1985,19,Scout,6[16]+13[17]
4,"Kapustin Yar Cosmodrome, Astrakhan Oblast, Rus...",Russia,1962–2008,85,Kosmos,[18][citation needed]
5,"Hammaguir French Special Weapons Test Centre, ...",Algeria,1965–1967,4,Diamant A (France),Diamant
6,"Plesetsk Cosmodrome, Arkhangelsk Oblast, Russi...",Russia,1966–,">1,500","R-7/Soyuz, Kosmos, Tsyklon-3, Rokot, Angara",[20]
7,"San Marco platform, Broglio Space Centre, Mali...",Kenya,1967–1988,9,"Scout (ASI and Sapienza, Italy)",Broglio
8,"Kennedy Space Center, Florida, US[12]",US,1967–,187,"17 Saturn, 135 Space Shuttle, 32 Falcon 9, 3 F...","Saturn, STS, F9"
9,"Woomera Prohibited Area, South Australia[22]",Australia,"1967, 1971",2,"Redstone (WRESAT), Black Arrow (UK Prospero X-3)","WRESAT, X-3"
10,"Uchinoura Space Center (Kagoshima), Japan[23]",Japan,1970–,31,"27 Mu, 3 Epsilon, 1 SS-520-5","[23] M, ε, S"
11,"Guiana Space Centre, Kourou, French Guiana, Fr...",French Guiana,1970–,261,"7 Diamant, 227 Ariane, 16 Soyuz-2, 11 Vega",see 4 rockets
12,"Jiuquan Satellite Launch Center, China[25]",China,1970–,85,"2 LM1, 3 LM2A, 20 LM2C, 36 LM2D, 13 LM2F, 3 LM...",See 8 rockets
13,"Tanegashima Space Center, Japan[26]",Japan,1975–,65,"6 N-I, 8 N-II, 9 H-I, 6 H-II, 36 H-IIA",see 5 rockets
14,"Satish Dhawan Space Centre (SHAR), Andhra Prad...",India,1979–,77,"4 SLV, 4 ASLV, 53 PSLV, 13 GSLV, 3 GSLV Mk III",List SDSC
15,"Xichang Satellite Launch Center, China[28]",China,1984–,104,"Long March: 6 LM2C, 5 LM2E, 11 LM3, 25 LM3A, 4...",See 6 rockets
16,"Taiyuan Satellite Launch Center, China[29]",China,1988–,62,"Long March: 16 LM2C, 2 LM2D, 2 LM4A, 25 LM4B, ...",See 6 rockets
17,"Palmachim Air Force Base, Israel[30]",Israel,1988–,8,Shavit,Shavit
18,"various airport runways (B-52, Stargazer)",various,1990–,39,Pegasus (Orbital Sciences Corporation),Pegasus
19,"Svobodny Cosmodrome, Amur Oblast, Russia[31]",Russia,1997–2006,5,Start-1,[31]
20,"Delta class submarine, Barents Sea",Barents Sea,"1998, 2006",2,Shtil' (Russia),Shtil'
21,"Odyssey mobile platform, Pacific Ocean",Pacific Ocean,1999–2014,32,Zenit-3SL (Sea Launch),Sea Launch
22,"Pacific Spaceport Complex (Kodiak), Alaska, US...",US,2001–,3,"1 Athena, 2 Minotaur IV",Kodiak
23,"Yasny Cosmodrome (Dombarovsky), Orenburg Oblas...",Russia,2006–,10,Dnepr,Dnepr
24,"Mid-Atlantic Regional Spaceport (MARS), Virgin...",US,2006–,12,"5 Minotaur I, 6 Antares, 1 Minotaur V",MARS
25,"Omelek, Kwajalein Atoll, Marshall Islands",Marshall Islands,2008–2009,5,5 Falcon 1 (US),Falcon 1
26,"Semnan Space Center, Semnan, Iran[36][37]",Iran,2009–,5,"Safir, Simorgh, Zuljanah",Safir
27,"Sohae Satellite Launching Station, North Korea",North Korea,2012–,2,Unha-3,K3-U2[38]
28,"Naro Space Center, South Jeolla, South Korea[39]",South Korea,2013–,3,3 Naro-1,Naro-1
29,"Vostochny Cosmodrome, Amur Oblast, Russia",Russia,2016–,8,8 Soyuz-2,Vostochny
30,"Wenchang Satellite Launch Center, China",China,2016–,8,"Long March: 5 LM5, 3 LM7",See 2 rockets
31,"Rocket Lab Launch Complex 1, New Zealand",New Zealand,2018–,20,20 Electron,Electron (rocket)

In [38]:
try:
    os.makedirs(wikisites_data + "/spaceports_wiki")
    spaceport_satellite_launches_df.to_csv(wikisites_data + '/spaceports_wiki/spaceport_satellite_launches_df.csv', encoding='utf-8')
    spaceport_satellite_launches_df.to_excel(wikisites_data + '/spaceports_wiki/spaceport_satellite_launches_df.xlsx')
except FileExistsError:
    spaceport_satellite_launches_df.to_csv(wikisites_data + '/spaceports_wiki/spaceport_satellite_launches_df.csv', encoding='utf-8')
    spaceport_satellite_launches_df.to_excel(wikisites_data + '/spaceports_wiki/spaceport_satellite_launches_df.xlsx')
    pass